USE [hwreportsview]
GO
/****** Object:  StoredProcedure [dbo].[jp4_sp_Eventos_Claviculario]    Script Date: 04/09/2026 19:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[jp4_sp_Eventos_Claviculario]
    @DataInicio datetime,
    @DataFim datetime,
    @Nome VARCHAR(MAX) = NULL,
    @Matricula VARCHAR(MAX) = NULL,
    @Chave VARCHAR(MAX) = NULL,
	@DC varchar (max) = null

AS

BEGIN
    SET NOCOUNT ON;

	SET @DC = '%' + @DC + '%'

	if @DC is null or @DC = '%%'
	begin
		-- Todos
		SELECT 
				DataHora,
				responsavelNome,
				responsavelCartao AS 'MATRICULA',
				codigoChave,
				chaveDescricao,
				descricao,
				operador
		
		  FROM 
			[claviculario].[DBO].[eventos]
			WHERE
				DataHora BETWEEN @DataInicio AND @DataFim
				and (@nome IS NULL OR @nome = '' or responsavelNome LIKE '%' + @nome + '%')
				and  (@Matricula IS NULL OR @matricula = '' or  responsavelCartao = @Matricula)
				and   (@Chave IS NULL OR @Chave = '' or  chaveDescricao like  '%' + @Chave + '%')
				and codigoChave is not null
		
			 ORDER BY
				DataHora ;
	End

	If @DC = '%DCS%' or @DC = '%DCN%' or @DC = '%DC%'
	begin
		-- Somente DCs
		SELECT 
				DataHora,
				responsavelNome,
				responsavelCartao AS 'MATRICULA',
				codigoChave,
				chaveDescricao,
				descricao,
				operador
		
		  FROM 
			[claviculario].[DBO].[eventos]
			WHERE
				DataHora BETWEEN @DataInicio AND @DataFim
				and (@nome IS NULL OR @nome = '' or responsavelNome LIKE '%' + @nome + '%')
				and  (@Matricula IS NULL OR @matricula = '' or  responsavelCartao = @Matricula)
				and   (@Chave IS NULL OR @Chave = '' or  chaveDescricao like  '%' + @Chave + '%')
				and codigoChave LIKE @DC
				and chaveDescricao not like 'SUB ESTACAO%'
		
			 ORDER BY
				DataHora ;
	End

	If @DC = '%SUB%'
	begin
		-- Somente DCs
		SELECT 
				DataHora,
				responsavelNome,
				responsavelCartao AS 'MATRICULA',
				codigoChave,
				chaveDescricao,
				descricao,
				operador
		
		  FROM 
			[claviculario].[DBO].[eventos]
			WHERE
				DataHora BETWEEN @DataInicio AND @DataFim
				and (@nome IS NULL OR @nome = '' or responsavelNome LIKE '%' + @nome + '%')
				and  (@Matricula IS NULL OR @matricula = '' or  responsavelCartao = @Matricula)
				and   (@Chave IS NULL OR @Chave = '' or  chaveDescricao like  '%' + @Chave + '%')
				and chaveDescricao like 'SUB ESTACAO%'
		
			 ORDER BY
				DataHora ;
	End
END

