USE [hwreportsview]
GO
/****** Object:  StoredProcedure [dbo].[jp4_sp_DoorCritical]    Script Date: 04/09/2026 19:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[jp4_sp_DoorCritical]
(
    @DataInicio DATETIME,
    @DataFim    DATETIME
)
AS
BEGIN
    SET NOCOUNT ON;


--DECLARE @DataInicio DATETIME = '2026-03-01 00:00:00'
--DECLARE @DataFim    DATETIME = '2026-03-31 23:59:59'

    ;WITH EventosUnificados AS
    (
        SELECT *
        FROM
        (

            ---------------------------------------
            -- VISITANTES
            ---------------------------------------
            SELECT
                vmE.EventID,
                CASE
                    WHEN FieldTime IS NOT NULL
                        THEN CAST(emsevents.dbo.UTCFILETIMEToDateTime(FieldTime) - '03:00' AS DATETIME)
                    ELSE
                        CAST(emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) AS DATETIME)
                END AS TimeOrder,

                CASE
                    WHEN FieldTime IS NOT NULL
                        THEN FORMAT(CAST(emsevents.dbo.UTCFILETIMEToDateTime(FieldTime) - '03:00' AS DATETIME),'dd/MM/yyyy HH:mm:ss.fff')
                    ELSE
                        FORMAT(CAST(emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) AS DATETIME),'dd/MM/yyyy HH:mm:ss.fff')
                END AS [Data e Hora],

                vmE.Source AS TAG,
                CASE WHEN vmE.Source LIKE 'Merc%' THEN JMT.MercDescription ELSE vmE.Description END AS Acesso,

                CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) AS [Nome Completo],
                Identifier AS [Documento ou Matricula],
                CardNumber AS [Cartão],

                CASE
                    WHEN CardHolderType = 'External Personnel' THEN 'Visitante'
                    WHEN CardHolderType IS NULL THEN ''
                    ELSE 'Residente'
                END AS Tipo,

                EC.Name AS Empresa,

                CASE
                    WHEN ConditionName = 'GRANTED' THEN 'Liberado'
                    ELSE 'Negado'
                END AS [Status do Acesso],

                AccessReason AS [Detalhe do Status de Acesso]

            FROM emsevents..ems_vw_EMSevents vmE
            INNER JOIN cms..ExternalRegular ER ON ER.SbiID = vmE.CardHolderID
            LEFT JOIN cms..ExternalCompany EC ON EC.ExternalCompanyID = ER.ExternalCompanyID
            LEFT JOIN cms..JP4_Merc_TAGs JMT ON JMT.MercTag = vmE.Source

            WHERE
                ConditionName IN ('Granted','Denied')
                AND (vmE.Category = 16 OR vmE.Category = 5)
                AND emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) BETWEEN @DataInicio AND @DataFim

            UNION ALL

            ---------------------------------------
            -- FUNCIONÁRIOS
            ---------------------------------------
            SELECT
                vmE.EventID,
                CASE
                    WHEN FieldTime IS NOT NULL
                        THEN CAST(emsevents.dbo.UTCFILETIMEToDateTime(FieldTime) - '03:00' AS DATETIME)
                    ELSE
                        CAST(emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) AS DATETIME)
                END,

                CASE
                    WHEN FieldTime IS NOT NULL
                        THEN FORMAT(CAST(emsevents.dbo.UTCFILETIMEToDateTime(FieldTime) - '03:00' AS DATETIME),'dd/MM/yyyy HH:mm:ss.fff')
                    ELSE
                        FORMAT(CAST(emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) AS DATETIME),'dd/MM/yyyy HH:mm:ss.fff')
                END,

                vmE.Source,
                CASE WHEN vmE.Source LIKE 'Merc%' THEN JMT.MercDescription ELSE vmE.Description END,

                CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)),
                Identifier,
                CardNumber,

                CASE
                    WHEN CardHolderType = 'External Personnel' THEN 'Visitante'
                    WHEN CardHolderType IS NULL THEN ''
                    ELSE 'Residente'
                END,

                uf5,

                CASE
                    WHEN ConditionName = 'GRANTED' THEN 'Liberado'
                    ELSE 'Negado'
                END,

                AccessReason

            FROM emsevents..ems_vw_EMSevents vmE
            INNER JOIN cms..Employee ER ON ER.SbiID = vmE.CardHolderID
            INNER JOIN cms..EmployeeUserFields EUF ON ER.SbiID = EUF.SbiID
            LEFT JOIN cms..JP4_Merc_TAGs JMT ON JMT.MercTag = vmE.Source

            WHERE
                ConditionName IN ('Granted','Denied')
                AND (vmE.Category = 16 OR vmE.Category = 5)
                AND emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) BETWEEN @DataInicio AND @DataFim

            UNION ALL

            ---------------------------------------
            -- SEM VÍNCULO
            ---------------------------------------
            SELECT
                vmE.EventID,
                CASE
                    WHEN FieldTime IS NOT NULL
                        THEN CAST(emsevents.dbo.UTCFILETIMEToDateTime(FieldTime) - '03:00' AS DATETIME)
                    ELSE
                        CAST(emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) AS DATETIME)
                END,

                CASE
                    WHEN FieldTime IS NOT NULL
                        THEN FORMAT(CAST(emsevents.dbo.UTCFILETIMEToDateTime(FieldTime) - '03:00' AS DATETIME),'dd/MM/yyyy HH:mm:ss.fff')
                    ELSE
                        FORMAT(CAST(emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) AS DATETIME),'dd/MM/yyyy HH:mm:ss.fff')
                END,

                vmE.Source,
                CASE WHEN vmE.Source LIKE 'Merc%' THEN JMT.MercDescription ELSE vmE.Description END,

                CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)),
                '',
                CardNumber,

                CASE
                    WHEN CardHolderType = 'External Personnel' THEN 'Visitante'
                    WHEN CardHolderType IS NULL THEN ''
                    ELSE 'Residente'
                END,

                '',
                CASE
                    WHEN ConditionName = 'GRANTED' THEN 'Liberado'
                    ELSE 'Negado'
                END,

                AccessReason

            FROM emsevents..ems_vw_EMSevents vmE
            LEFT JOIN cms..JP4_Merc_TAGs JMT ON JMT.MercTag = vmE.Source

            WHERE
                CardHolderID = 0
                AND ConditionName IN ('Granted','Denied')
                AND (vmE.Category = 16 OR vmE.Category = 5)
                AND emsevents.dbo.UTCFILETIMEToDateTime(LocalTime) BETWEEN @DataInicio AND @DataFim

        ) Base
        WHERE TAG IN (/* mantido igual */
       'TSDN1S02_CNT01_RDR1','TSDN1S02_CNT02_RDR1','TSDN1S02_CNT03_RDR1','TSDN1S02_CNT03_RDR2','TSDN1S04_CNT01_RDR1','TSDN1S04_CNT02_RDR2','Merc1@20@1','Merc1@20@2',
        'TSDN1S02_CNT04_RDR1','TSDN1S02_CNT05_RDR1','TSDN1S02_CNT06_RDR1','TSDN1S02_CNT06_RDR2','TSDN1S04_CNT06_RDR1','TSDN1S04_CNT07_RDR2','Merc1@20@9','Merc1@20@10',
        'TSDN2S02_CNT04_RDR1','TSDN2S02_CNT04_RDR2','TSDN2S02_CNT05_RDR1','TSDN2S02_CNT06_RDR1','TSDN2S04_CNT01_RDR1','TSDN2S04_CNT02_RDR1','Merc1@18@1','Merc1@18@2',
        'TSDN2S02_CNT01_RDR1','TSDN2S02_CNT01_RDR2','TSDN2S02_CNT02_RDR1','TSDN2S02_CNT03_RDR1','TSDN2S04_CNT06_RDR1','TSDN2S04_CNT07_RDR1','Merc1@18@9','Merc1@18@10',
        'TSDN2S05_CNT08_RDR1','TSDN2S05_CNT08_RDR2','Merc1@21@15','Merc1@21@16',
        'TSDN2S05_CNT04_RDR1','TSDN2S05_CNT04_RDR2','Merc1@21@7','Merc1@21@8',
        'TSDS1S02_CNT04_RDR1','TSDS1S02_CNT04_RDR2','TSDS1S02_CNT05_RDR1','TSDS1S02_CNT06_RDR1','TSDS1S04_CNT01_RDR1','TSDS1S04_CNT02_RDR1',
        'TSDS1S02_CNT01_RDR1','TSDS1S02_CNT01_RDR2','TSDS1S02_CNT02_RDR1','TSDS1S02_CNT03_RDR1','TSDS1S04_CNT06_RDR1','TSDS1S04_CNT07_RDR1',
        'TSDS2S02_CNT01_RDR1','TSDS2S02_CNT02_RDR1','TSDS2S02_CNT03_RDR1','TSDS2S02_CNT03_RDR2','TSDS2S04_CNT01_RDR1','TSDS2S04_CNT02_RDR2',
        'TSDS2S02_CNT04_RDR1','TSDS2S02_CNT05_RDR1','TSDS2S02_CNT06_RDR1','TSDS2S02_CNT06_RDR2','TSDS2S04_CNT06_RDR1','TSDS2S04_CNT07_RDR2',
        'TSDS2S05_CNT05_RDR1','TSDS2S05_CNT05_RDR2'
        )
    )

    , EventosComAnterior AS
    (
        SELECT *,
            LAG(TimeOrder) OVER (
                PARTITION BY ISNULL([Cartão],'SEM_CARTAO'), TAG
                ORDER BY TimeOrder
            ) AS DataEventoAnterior
        FROM EventosUnificados
    )

    SELECT
        EventID,
        TimeOrder,
        [Data e Hora],
        TAG,
        Acesso,

        CASE
            WHEN Acesso LIKE '%ENTRADA%' THEN 'Entrada'
            WHEN Acesso LIKE 'ECLUSA%' THEN 'Entrada'
            WHEN Acesso LIKE '%Saída%' OR Acesso LIKE '%Saida%' THEN 'Saída'
            ELSE '-'
        END AS Evento,

        ISNULL([Nome Completo],'') AS [Nome Completo],
        [Documento ou Matricula],
        ISNULL([Cartão],'') AS Cartão,
        Tipo,
        Empresa,
        [Status do Acesso],
        [Detalhe do Status de Acesso]

    FROM EventosComAnterior
    WHERE
        (DataEventoAnterior IS NULL
        OR DATEDIFF(SECOND, DataEventoAnterior, TimeOrder) > 1)
		and isnull (ltrim(rtrim([nome completo])),'') <> ''
	    and isnull (ltrim(rtrim(empresa)),'') <> ''

		order by 2

		end 