<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
    <connectionStrings>
    <clear/>
    <add name="StringConexao" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Logins;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name=&quot;SQL Server Management Studio&quot;;Command Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="WindowsFormsApp1.Properties.Settings.LoginsConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Logins;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="StringConexao1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMS;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name=&quot;SQL Server Management Studio&quot;;Command Timeout=0" providerName="System.Data.SqlClient"/>
    <add name="WindowsFormsApp1.Properties.Settings.cmsConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=CMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="StringConexaoEms" connectionString="Data Source=.;Initial Catalog=EMSEVENTS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:5000" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
