USE [hwreportsview]
GO
/****** Object:  StoredProcedure [dbo].[jp4_sp_DoorCritical]    Script Date: 01/04/2026 10:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Report Builder Relatorio para areas criticas

*/
ALTER procedure [dbo].[jp4_sp_DoorCritical] 
@DataInicio as varchar(20),
@DataFim as varchar(20)
as
--Use emsevents
--Go

-- ##################################################################
-- ##   Parêmetros da Consulta                                     ##
-- ##################################################################

--        Declare @DataInicio as Varchar (50)
--        Declare @DataFim as Varchar (50)
--        Set @DataInicio = '2025-01-01 00:00:00'
--		  Set @DataFim    = '2025-01-31 23:59:00'

-- ##################################################################

------------------------------------------------------------------------

Select EventID, TimeOrder, [Data e Hora],	TAG, Acesso, 
Case When Acesso like '%ENTRADA%' Then 'Entrada' When Acesso like 'ECLUSA%' Then 'Entrada' When Acesso like '%Saída%' or Acesso like '%Saida%' Then 'Saída' 
Else '-' End [Evento], Case When [Nome Completo] is null Then '' Else [Nome Completo] End [Nome Completo],	[Documento ou Matricula],	Case When Cartão is null Then '' Else Cartão End Cartão,	Tipo,	Empresa,	[Status do Acesso], [Detalhe do Status de Acesso] 
from (

Select
	vmE.EventID [EventID],
	Case When FieldTime is not null Then
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime)
	Else
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime)
	End TimeOrder,
	Case When FieldTime is not null Then
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	Else
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	End [Data e Hora],
	vmE.Source [TAG],
	Case When vmE.Source like 'Merc%' Then JMT.MercDescription Else vmE.Description End [Acesso],
	CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) [Nome Completo],
	Identifier [Documento ou Matricula],
	CardNumber [Cartão],
	Case When CardHolderType = 'External Personnel' Then 'Visitante' when CardHolderType is null Then '' Else 'Residente' end [Tipo],
	EC.Name [Empresa],
	Case When ConditionName = 'GRANTED' Then 'Liberado' Else 'Negado' End [Status do Acesso],
	AccessReason [Detalhe do Status de Acesso]

from emsevents..ems_vw_EMSevents vmE
inner join cms..ExternalRegular ER on ER.SbiID = vmE.CardHolderID
left join cms..[ExternalCompany] EC on EC.ExternalCompanyID = ER.ExternalCompanyID
left join cms..[JP4_Merc_TAGs] JMT on JMT.MercTag = vmE.Source
where
	ConditionName in('Granted','Denied') and
	(vmE.Category=16 or vmE.Category=5) and 
	emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim

------
Union all
------

Select
	vmE.EventID [EventID],
	Case When FieldTime is not null Then
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime)
	Else
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime)
	End TimeOrder,
	Case When FieldTime is not null Then
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	Else
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	End [Data e Hora],
	vmE.Source [TAG],
	Case When vmE.Source like 'Merc%' Then JMT.MercDescription Else vmE.Description End [Acesso],
	CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) [Nome Completo],
	Identifier [Documento ou Matricula],
	CardNumber [Cartão],
	Case When CardHolderType = 'External Personnel' Then 'Visitante' when CardHolderType is null Then '' Else 'Residente' end [Tipo],
	uf5 [Empresa],
	Case When ConditionName = 'GRANTED' Then 'Liberado' Else 'Negado' End [Status do Acesso],
	AccessReason [Detalhe do Status de Acesso]

from emsevents..ems_vw_EMSevents vmE
inner join cms..Employee ER on ER.SbiID = vmE.CardHolderID
inner join cms..EmployeeUserFields EUF on ER.SbiID = EUF.SbiID
left join cms..[JP4_Merc_TAGs] JMT on JMT.MercTag = vmE.Source
where
	ConditionName in('Granted','Denied') and 
	(vmE.Category=16 or vmE.Category=5) and 
	emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim

------
Union all
------

Select
	vmE.EventID [EventID],
	Case When FieldTime is not null Then
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime)
	Else
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime)
	End TimeOrder,
	Case When FieldTime is not null Then
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	Else
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	End [Data e Hora],
	vmE.Source TAG,
	Case When vmE.Source like 'Merc%' Then JMT.MercDescription Else vmE.Description End [Acesso],
	CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) [Nome Completo],
	'' [Documento ou Matricula],
	CardNumber [Cartão],
	Case When CardHolderType = 'External Personnel' Then 'Visitante' when CardHolderType is null Then '' Else 'Residente' end [Tipo],
	'' [Empresa],
	Case When ConditionName = 'GRANTED' Then 'Liberado' Else 'Negado' End [Status do Acesso],
	AccessReason [Detalhe do Status de Acesso]

from emsevents..ems_vw_EMSevents vmE
left join cms..[JP4_Merc_TAGs] JMT on JMT.MercTag = vmE.Source
where
	CardHolderID = 0 and
	ConditionName in('Granted','Denied') and 
	(vmE.Category=16 or vmE.Category=5) and 
	emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim

)MyOrderTable
Where TAG in(
--TIN101
'TSDN1S02_CNT01_RDR1','TSDN1S02_CNT02_RDR1','TSDN1S02_CNT03_RDR1','TSDN1S02_CNT03_RDR2','TSDN1S04_CNT01_RDR1','TSDN1S04_CNT02_RDR2','Merc1@20@1','Merc1@20@2',
--TIN102
'TSDN1S02_CNT04_RDR1','TSDN1S02_CNT05_RDR1','TSDN1S02_CNT06_RDR1','TSDN1S02_CNT06_RDR2','TSDN1S04_CNT06_RDR1','TSDN1S04_CNT07_RDR2','Merc1@20@9','Merc1@20@10',
--TIN201
'TSDN2S02_CNT04_RDR1','TSDN2S02_CNT04_RDR2','TSDN2S02_CNT05_RDR1','TSDN2S02_CNT06_RDR1','TSDN2S04_CNT01_RDR1','TSDN2S04_CNT02_RDR1','Merc1@18@1','Merc1@18@2',
--TIN202
'TSDN2S02_CNT01_RDR1','TSDN2S02_CNT01_RDR2','TSDN2S02_CNT02_RDR1','TSDN2S02_CNT03_RDR1','TSDN2S04_CNT06_RDR1','TSDN2S04_CNT07_RDR1','Merc1@18@9','Merc1@18@10',
--TIN208 GC
'TSDN2S05_CNT08_RDR1','TSDN2S05_CNT08_RDR2','Merc1@21@15','Merc1@21@16',
--TIN208 Fitoteca
'TSDN2S05_CNT04_RDR1','TSDN2S05_CNT04_RDR2','Merc1@21@7','Merc1@21@8',
--TIS101
'TSDS1S02_CNT04_RDR1','TSDS1S02_CNT04_RDR2','TSDS1S02_CNT05_RDR1','TSDS1S02_CNT06_RDR1','TSDS1S04_CNT01_RDR1','TSDS1S04_CNT02_RDR1',
--TIS102
'TSDS1S02_CNT01_RDR1','TSDS1S02_CNT01_RDR2','TSDS1S02_CNT02_RDR1','TSDS1S02_CNT03_RDR1','TSDS1S04_CNT06_RDR1','TSDS1S04_CNT07_RDR1',
--TIS201
'TSDS2S02_CNT01_RDR1','TSDS2S02_CNT02_RDR1','TSDS2S02_CNT03_RDR1','TSDS2S02_CNT03_RDR2','TSDS2S04_CNT01_RDR1','TSDS2S04_CNT02_RDR2',
--TIS202
'TSDS2S02_CNT04_RDR1','TSDS2S02_CNT05_RDR1','TSDS2S02_CNT06_RDR1','TSDS2S02_CNT06_RDR2','TSDS2S04_CNT06_RDR1','TSDS2S04_CNT07_RDR2',
-- TIS208 Fitoteca
'TSDS2S05_CNT05_RDR1','TSDS2S05_CNT05_RDR2'

)
Order by TimeOrder, TAG
