USE [hwreportsview]
GO
/****** Object:  StoredProcedure [dbo].[jp4_sp_DoorGeneral_bysite]    Script Date: 01/04/2026 10:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Report Builder Relatorio para areas criticas

*/
ALTER procedure [dbo].[jp4_sp_DoorGeneral_bysite] 

@DataInicio as varchar(20),
@DataFim as varchar(20),
@DC as varchar(10)
as

--if @DC is null or @DC = '' begin Set @DC = '%' end else begin Set @DC = '%' + @DC + '%' end


Declare @ZonePoints  Table(ReaderID  varchar(50), ReaderDescription  varchar(500), ReaderDropBoxLabel  varchar(500), OrderColumn varchar(50))

insert into @ZonePoints
Select PointID ReaderID, PointDescription ReaderDescription, Cast(PointID + ' - ' + PointDescription as varchar(max)) ReaderDropBoxLabel, Cast('0-' + PointID as varchar(50)) OrderColumn  from cms..ZonePoints order by 3

insert into @ZonePoints
Select MercTag ReaderID, MercDescription ReaderDescription, Cast(MercTag + ' - ' + MercDescription as varchar(max)) ReaderDropBoxLabel, Cast('1-' + MercTag as varchar(50)) OrderColumn from cms..JP4_Merc_TAGs  order by 3


Select
--EventID, 
--TimeOrder, 
[Data e Hora],
--TAG,
Acesso, 

--Case When Acesso like '%ENTRADA%' Then 'Entrada' When Acesso like 'ECLUSA%' Then 'Entrada' When Acesso like '%Saída%' or Acesso like '%Saida%' Then 'Saída' 
--Else '-' End [Evento], 
Case When [Nome Completo] is null Then '' Else [Nome Completo] End [Nome Completo],
[Documento ou Matricula],	Case When Cartão is null Then '' Else Cartão End Cartão,
Tipo,
Empresa,
[Status do Acesso]
--[Detalhe do Status de Acesso] 
from (

Select
	vmE.EventID [EventID],
	Case When FieldTime is not null Then
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime)
	Else
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime)
	End TimeOrder,
	Case When FieldTime is not null Then
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	Else
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	End [Data e Hora],
	vmE.Source [TAG],
	Case When vmE.Source like 'Merc%' Then JMT.MercDescription Else vmE.Description End [Acesso],
	CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) [Nome Completo],
	Identifier [Documento ou Matricula],
	CardNumber [Cartão],
	Case When CardHolderType = 'External Personnel' Then 'Visitante' when CardHolderType is null Then '' Else 'Residente' end [Tipo],
	EC.Name [Empresa],
	Case When ConditionName = 'GRANTED' Then 'Liberado' Else 'Negado' End [Status do Acesso],
	AccessReason [Detalhe do Status de Acesso]

from emsevents..ems_vw_Events vmE
inner join cms..ExternalRegular ER on ER.SbiID = vmE.CardHolderID
left join cms..[ExternalCompany] EC on EC.ExternalCompanyID = ER.ExternalCompanyID
left join cms..[JP4_Merc_TAGs] JMT on JMT.MercTag = vmE.Source
where
	ConditionName in('Granted','Denied') and
	(vmE.Category=16) and 
	emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim

------
Union all
------

Select
	vmE.EventID [EventID],
	Case When FieldTime is not null Then
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime)
	Else
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime)
	End TimeOrder,
	Case When FieldTime is not null Then
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	Else
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	End [Data e Hora],
	vmE.Source [TAG],
	Case When vmE.Source like 'Merc%' Then JMT.MercDescription Else vmE.Description End [Acesso],
	CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) [Nome Completo],
	Identifier [Documento ou Matricula],
	CardNumber [Cartão],
	Case When CardHolderType = 'External Personnel' Then 'Visitante' when CardHolderType is null Then '' Else 'Residente' end [Tipo],
	uf5 [Empresa],
	Case When ConditionName = 'GRANTED' Then 'Liberado' Else 'Negado' End [Status do Acesso],
	AccessReason [Detalhe do Status de Acesso]

from emsevents..ems_vw_Events vmE
inner join cms..Employee ER on ER.SbiID = vmE.CardHolderID
inner join cms..EmployeeUserFields EUF on ER.SbiID = EUF.SbiID
left join cms..[JP4_Merc_TAGs] JMT on JMT.MercTag = vmE.Source
where
	ConditionName in('Granted') and 
	(vmE.Category=16 or vmE.Category=5) and 
	emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim

------
Union all
------

Select
	vmE.EventID [EventID],
	Case When FieldTime is not null Then
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime)
	Else
		Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime)
	End TimeOrder,
	Case When FieldTime is not null Then
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](FieldTime) -'03:00' as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	Else
		Format(Cast(emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) as datetime),'dd/MM/yyyy HH:mm:ss.fff')
	End [Data e Hora],
	vmE.Source TAG,
	Case When vmE.Source like 'Merc%' Then JMT.MercDescription Else vmE.Description End [Acesso],
	CAST(CardHolderFirstName + ' ' + CardHolderLastName AS VARCHAR(MAX)) [Nome Completo],
	'' [Documento ou Matricula],
	CardNumber [Cartão],
	Case When CardHolderType = 'External Personnel' Then 'Visitante' when CardHolderType is null Then '' Else 'Residente' end [Tipo],
	'' [Empresa],
	Case When ConditionName = 'GRANTED' Then 'Liberado' Else 'Negado' End [Status do Acesso],
	AccessReason [Detalhe do Status de Acesso]

from emsevents..ems_vw_Events vmE
left join cms..[JP4_Merc_TAGs] JMT on JMT.MercTag = vmE.Source
where
	CardHolderID = 0 and
	ConditionName in('Granted') and 
	(vmE.Category=16) and 
	emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim

)MyOrderTable
Where TAG in(Select ReaderID from @ZonePoints) AND Acesso LIKE @DC
Order by TimeOrder, TAG


