USE [hwreportsview]
GO
/****** Object:  StoredProcedure [dbo].[jp4_sp_Eventos_Claviculario]    Script Date: 13/04/2026 09:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[jp4_sp_Eventos_Claviculario]
    @DataInicio datetime,
    @DataFim datetime,
    @Nome VARCHAR(MAX) = NULL,
    @Matricula VARCHAR(MAX) = NULL,
    @Chave VARCHAR(MAX) = NULL,
	@DC varchar (max) = null

AS

BEGIN
    SET NOCOUNT ON;

	SET @DC = '%' + @DC + '%'

SELECT 
        DataHora,
        responsavelNome,
        responsavelCartao AS 'MATRICULA',
        codigoChave,
        chaveDescricao,
        descricao
		
  FROM 
    [claviculario].[DBO].[eventos]
    WHERE
        DataHora BETWEEN @DataInicio AND @DataFim
		and (@nome IS NULL OR @nome = '' or responsavelNome LIKE '%' + @nome + '%')
		and  (@Matricula IS NULL OR @matricula = '' or  responsavelCartao = @Matricula)
		and   (@Chave IS NULL OR @Chave = '' or  codigoChave = @Chave)
		and codigoChave LIKE @DC
		
     ORDER BY
        DataHora ;
END
