USE [hwreportsview]
GO
/****** Object:  StoredProcedure [dbo].[jp4_sp_Population]    Script Date: 13/04/2026 08:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[jp4_sp_Population]
@DataInicio as varchar(50),
@DataFim as varchar(50)
as

--Declare @DataInicio as Varchar (50)
--Declare @DataFim as Varchar (50)
--Set @DataInicio = '2025-01-01 00:00:00'
--Set @DataFim    = '2025-01-01 23:59:59'

Select 'Total de Funcionários' [Label], Count(Distinct CardHolderID) [Total] from emsevents..ems_vw_Events where
emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim and 
CardHolderID in (
	Select SbiID from cms..EmployeeUserFields Where UF6=20001 and SbiID in (Select SbiID from cms..Employee where SbiID > 0 and StateID!=1)
) and (Category=16 or Category=5)

union all

Select 'Total de Prestadores', Count(Distinct CardHolderID) from emsevents..ems_vw_Events where
emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim and 
CardHolderID in (
	Select SbiID from cms..EmployeeUserFields Where UF6!=20001 and SbiID in (Select SbiID from cms..Employee where SbiID > 0 and StateID!=1)
) and (Category=16 or Category=5)

union all

Select 'Total de Visitantes', Count(Distinct CardHolderID) from emsevents..ems_vw_Events where
emsevents.[dbo].[UTCFILETIMEToDateTime](LocalTime) between @DataInicio and @DataFim and 
CardHolderID in (
	Select SbiID from cms..ExternalRegular where SbiID > 0 and  SbiID in (Select SbiID from cms..ExternalRegular where SbiID > 0 and StateID!=1)
) and (Category=16 or Category=5)
